fastapi
uvicorn[standard]==0.30.1
pydantic-settings
asyncpg
redis
qdrant-client
sqlalchemy
alembic
psycopg[binary]
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.2
python-multipart

# AI & Retrieval
groq
sentence-transformers
rank-bm25
numpy
email-validator
pypdf
langchain-text-splitters
